@model IEnumerable<Piadas.Models.Piada>

@{
    ViewData["Title"] = "Piadocas";
}

<h1>Piadocas</h1>

<p>
    <a class="detail" asp-action="Create">Adicionar uma nova piada</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pergunta)
            </th>
            <!--<th>
                @Html.DisplayNameFor(model => model.Resposta)
            </th>-->
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pergunta)
            </td>

            <!--<th>
                @Html.DisplayFor(modelItem => item.Resposta)
            </th>-->
            
            <td>
                <a class="detail" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a class="detail" asp-action="Details" asp-route-id="@item.Id">Mostrar</a> |
                <a class="detail" asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
